.noticeBank{
    margin-left: 25%;
    margin-top: 2%;
}

.noticeBank h1{
    font-size: 4rem;
    margin-top: 10rem;
}

.noticeBank p{
    font-size: 1.5rem;
}



/*Personal information*/
.noticePay{
    display: flex;

    margin-top: 3%;
}

.noticePay h1{
    font-size: 4rem;
    margin-top: 3rem;
}

.entries{
    margin-left: 22%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
}

.entry{
    padding: 18px;
    margin: 10px 10px;
    width: 500px;
    border-radius: 15px;
}

.paym{
    width: 500px;
    margin-left: 1.4rem;
}
