<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="veiwport" content="width= device - width , initial-scale =1.0">

    <!-- Creating a title for the website -->
    <title> Stango Fintech inc</title>
    <link rel="stylesheet" type="text/css" href="../Templates/login.css">
    <link rel="stylesheet" type="text/css" href="../mediaQueries/mediaLogin.css">
    <link rel="icon" type="image/x-icon" href="../Pics/favicon/money-bag (1).png" />

</head>
<body>

    <!--Creating a login template-->
    <div class="container">
        <div class="welcomeBack">
            <h1>Welcome!</h1>
            <p><span>Tech Traders.</span> Login to start trading with our signals!</p>
        </div>

        <form id="paymentForm">
            <div class="inputs">
                <input type="text" placeholder="Full Name" name="username" id="Username" class="fields" required>
            </div>
            <div class="inputs">
                <input type="password" placeholder="ID Number" name="national" id="Password" class="fields" required>
            </div>
            <div class="inputs">
                <input type="text" placeholder="Fundamentals / Technical / deriv ?" name="signal" id="Password" class="fields" required>
            </div>
        </form>
       

        <div class="buttonlogin">
            <a href="../Dashboard/web.html">Login</a>
        </div>

    </div>
    <script>
    </script>
</body>
</html>