<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../Templates/Mobile Pay.css">
    <link rel="stylesheet" href="../mediaQueries/mediaMobilePay.css">
    <link rel="icon" type="image/x-icon" href="../Pics/favicon/money-bag (1).png" />
    <title>Mobile Payment</title>
</head>
<body>
    <div class="noticePay">
        <img alt="pay" src="../Pics/error.jpg" hieght="80" width="200"/>
        <h1>Pay with <span> Ecocash </span> or <span>Mpesa</span></h1>
    </div>

    <div class="entries">
        <form id="paymentForm">
            <input type="text" placeholder="Registered Name" name="username" id="name" class="entry" required>
            <input type="password" placeholder="National ID" name="national" id="National ID" class="entry" required>
            <input type="text" placeholder="Amount" name="amount" id="Amount" class="entry" required>

            <button type="submit" class="btn paym"> Make Payment </button>
            <img src="error.jpg" alt="Description of the image" />

        </form>
    </div>

    <script src="./backend/mobilepay.js">

    </script>
</body>
</html>
