<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./payments.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../mediaQueries/mediaComponents.css">
    <link rel="icon" type="image/x-icon" href="../Pics/favicon/money-bag (1).png" />
    <title>Pay</title>
</head>
<body>

    <div class="texts">
        <h1>What is the <span>procedure?</span></h1>
        <p>You only get a link and a special code that will redirect you to our VIP Group after payment. Please contact us at +27 67 891 8088  if you are facing 
            any problems regarding payment issues. At Stango fintech , you are our main priority.

            Join the <span>Blue Team</span>
        </p>
    </div>

    <div class="methodsText">
        <h1>Choose Method Of <span>Payment</span></h1>
    </div>
    <div class="pay">
        <div class="number">
            <h1>Pay with Mobile </h1>
            <a  href="MobilePay.html" class="btn extenal" >Mobile</a>
        </div>
        
        <div class="bankWire">
            <h1>Pay with BankCard</h1>
            <a class="btn extenal" href="../Untitled-1.html">Card</a>
        </div>
    
    </div>    
</body>
</html>
