<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="../Templates/success.css">
    <link rel="icon" type="image/x-icon" href="../Pics/favicon/money-bag (1).png" />
    <title>Success</title>
</head>
<body>
    <div class="mainPage">
        <div class="picture">
            <img src="../Pics/credit-card (3).png" width="250" alt="Confirmation Payment Page">
        </div>

        <div class="successFont">
            <h1>  <span>Payment successful. </span>Log in to get daily signals
            </h1>
        </div>
    </div>
    
</body>
</html>